<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>All Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8fc6eb">  <td>20/07/19 20:00:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:cucumber.Options.TestRunner@71a794e5]">runScenario</td> 
  <td>TestNG-tests-1@1444728186</td>   <td></td> </tr>
<tr bgcolor="8fc6eb">  <td>20/07/19 20:02:07</td>   <td>91646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:cucumber.Options.TestRunner@71a794e5]">runScenario</td> 
  <td>TestNG-tests-1@1444728186</td>   <td></td> </tr>
<tr bgcolor="8fc6eb">  <td>20/07/19 20:02:44</td>   <td>129320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:cucumber.Options.TestRunner@71a794e5]">runScenario</td> 
  <td>TestNG-tests-1@1444728186</td>   <td></td> </tr>
<tr bgcolor="8fc6eb">  <td>20/07/19 20:03:28</td>   <td>173298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:cucumber.Options.TestRunner@71a794e5]">runScenario</td> 
  <td>TestNG-tests-1@1444728186</td>   <td></td> </tr>
<tr bgcolor="8fc6eb">  <td>20/07/19 20:00:34</td>   <td>-857</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:cucumber.Options.TestRunner@71a794e5]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1444728186</td>   <td></td> </tr>
<tr bgcolor="8fc6eb">  <td>20/07/19 20:04:07</td>   <td>211956</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:cucumber.Options.TestRunner@71a794e5]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1444728186</td>   <td></td> </tr>
</table>
